@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h2>&ltDEVELOPED BY:/&gt</h2>

<div class="col-md-4 about1">
    <a href="#">
        <div class="overlay"></div>
        <span>Ana Sofia Travessa</span>
    </a>
</div>

<div class="col-md-4 about2">
    <a href="#">
        <div class="overlay"></div>
        <span>Daniel Pereira</span>
    </a>
</div>

<div class="col-md-4 about3">
    <a href="#">
        <div class="overlay"></div>
        <span>Duarte Lucas</span>
    </a>
</div>

<div class="col-md-4 about4">
    <a href="#">
        <div class="overlay"></div>
        <span>Filipe Manteigas</span>
    </a>
</div>

<div class="col-md-4 about">
    <a href="#">
        <div class="overlay"></div>
        <span>Marta Mendonça</span>
    </a>
</div>

