
@{
    ViewBag.Title = "Contacts";
}
<div class="Contactos">
    <h2>Contacts Page</h2>


    <div class="Contacts">
        <div class="col-sm-12 m-top30">
            <div class="row">
                <div class="col-sm-12">
                    <div class="embed-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.7284246562604!2d-9.154709484654061!3d38.746993779594156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933046b6fd111%3A0xaeae076226efabe7!2sR.+Adriano+Correia+de+Oliveira%2C+1600-312+Lisboa!5e0!3m2!1spt-PT!2spt!4v1507825640538" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div itemtype="http://schema.org/Organization" itemscope="">
                            <img width="400" src="https://www.rockstart.com/wp-content/uploads/2014/09/Screen-Shot-2016-09-26-at-13.40.51.png" itemprop="image">
                            <div itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
                                <span itemprop="streetAddress">
                                    Rua Adriano Correia de Oliveira
                                </span>
                                <br>
                                <span itemprop="postalCode"> 1600-312</span>,  <span itemprop="addressLocality">Lisboa</span>
                                <br>
                                <span>Portugal</span>
                            </div>
                            <br>
                            <a href="mailto:codeplace@outlook.pt?Subject=A%20empresafictícia%20deseja%20contactá-lo%20" target="_top">CONTACT US</a>
                            <br>
                            <span itemprop="telephone"><a href="phoneTo:211451904"><b>211 400 377</b></a>  </span><br>(Week days 09-13h and 14-18h)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
