
@{
    ViewBag.Title = "HowItWorks";
}

<div class="hiw1">
    <h1> {IF YOU ARE HIRING..} </h1>
</div>


<div class="hiw2">
    <h1> &ltIF YOU ARE DEVELOPER.../&gt  </h1>
</div>

<section class="steps steps-area">
    <div class="hiw">
        <!-- title-section -->
        <ul class="timeline">

            <li class="timeline-box wow fadeInLeft">
                <i class="icon-layers"></i>
                <p class="timeline-title" style="color:black;">STEP 1: SIGN UP or LOGIN</p>
                <p class="timeline-details"> Sign in or sign up on our platform. </p>
                <span>1</span>
            </li>
            <li class="timeline-box1 wow fadeInRight">
                <i class="icon-chat"></i>
                <p class="timeline-title">STEP 1: SIGN UP or LOGIN</p>
                <p class="timeline-details">Sign in or sign up on our platform. </p>
                <span>1</span>
            </li>
            <li class="timeline-box  wow fadeInLeft">
                <i class="icon-tools"></i>
                <p class="timeline-title" style="color:black;">STEP 2: START BY POSTING A JOB</p>
                <p class="timeline-details">Tell us about your project and the specific skills required. </p>
                @*<img src="https://www.upwork.com/static/marketing/adquiro-webpack/images/find-FL.2e9a28883456.svg" />*@
                <span>2</span>
            </li>
            <li class="timeline-box1 wow fadeInRight">
                <i class="icon-trophy"></i>
                <p class="timeline-title">STEP 2: CREATE AND UPDATE YOUR PROFILE</p>
                <p class="timeline-details">Complete your profile and indicate your skills.</p>
                @*<img src="https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/22490144_10212749757331616_7164650413009867749_n.jpg?oh=449e4bacd7c05aa14be2a6759e96d88a&oe=5A3DC4FE" />*@
                <span>2</span>
            </li>
            <li class="timeline-box wow fadeInRight">
                <i class="icon-trophy"></i>
                <p class="timeline-title" style="color:black;">STEP 3: CODEPLACE ANALYZE YOUR NEEDS</p>
                <p class="timeline-details">Our search functionality uses data science to highlight freelancers based on their skills, helping you find talent that’s a good match.</p>
                <span>3</span>
            </li>
            <li class="timeline-box1 wow fadeInRight">
                <i class="icon-trophy"></i>
                <p class="timeline-title">STEP 3: FIND REWARDING PROJECTS</p>
                <p class="timeline-details">Search to see all job categories and find available projects. We send you a shortlist of companies. </p>
                @*<img src="https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/22450004_10212749859414168_2728763281548987130_n.jpg?oh=3d63cab064e6ce9a82c7487ec42ab326&oe=5A792C3A" />*@
                <span>3</span>
            </li>
            <li class="timeline-box wow fadeInRight">
                <i class="icon-trophy"></i>
                <p class="timeline-title" style="color:black;">STEP 4: WE SEND YOU A SHORTLIST OF LIKELY CANDIDATES</p>
                <p class="timeline-details"></p>
                @*<img src="https://www.upwork.com/static/marketing/adquiro-webpack/images/find-CL.eac27d3a9e54.svg" />*@
                <span>4</span>
            </li>
            <li class="timeline-box1 wow fadeInRight">
                <i class="icon-trophy"></i>
                <p class="timeline-title">STEP 4: SENDING THE CLIENT A COMPELLING PROPOSAL. </p>
                <p class="timeline-details">Contact the customer. This will greatly increase the likelihood of getting an interview. </p>
                <span>4</span>
            </li>
            <li class="timeline-box wow fadeInRight">
                <p class="timeline-title">STEP 5: HIRE THE BEST DEVELOPER</p>
                <p class="timeline-details">Find a developer and click the “Contact” button to get started.</p>
                @*<img src="https://www.upwork.com/static/marketing/adquiro-webpack/images/hire.9f5208d54080.svg" />*@
                <span>5</span>
            </li>
            <li class="timeline-box1 wow fadeInRight">
                <p class="timeline-title">STEP 5: FIND A JOB!</p>
                <p class="timeline-details">Find your dream job. </p>
                <span>5</span>
            </li>
            <li class="timeline-box wow fadeInRight">
                <i class="icon-trophy"></i>
                <p class="timeline-title" style="color:black;">VERITY OF CODEPLACE</p>
                <p class="timeline-details">We have several measures in place to ensure CodePlace is a fair and reliable marketplace. We use multiple means to verify that developers are who they say they are. Information is also displayed that gives you a sense of each person’s skill level. In part, this includes: </p>            <ul>
                    <li><b>Authenticating email addresses</b></li>
                    <li><b>Querying Developer Certificates</b></li>
                    <li><b>Displays the Linkedin profile of each developer, being able to evaluate their experience and check their qualities</b></li>
                    <li><b>Provide access to developer projects on GitHub</b></li>
            </li>
        </ul>
        <span></span>

    </div>
    </div>
</section>    

