
@{
    ViewBag.Title = "HowItWorks";
}

<div class="howitworks">
    <section id="Steps" class="steps-section">

        <h2 class="steps-header">
            How it works
        </h2>
        <br />
        <br />


        <div class="steps-timeline">

            <div class="steps-one">
                <img class="steps-img" src="https://cdn.pixabay.com/photo/2012/04/23/15/20/one-38484__340.png" alt="" />
                <h3 class="steps-name">
                    Start by posting a job
                </h3>
                <p class="steps-description">
                    Tell us about your project and the specific skills required.
                </p>
            </div>

            <div class="steps-two">
                <img class="steps-img" src="https://www.andlil.com/wp-content/uploads/2013/05/r%C3%A8gle-2-trading-300x300.png" alt="" />
                <h3 class="steps-name">
                    Analyzes your needs
                </h3>
                <p class="steps-description">
                    Our search functionality uses data science to highlight freelancers based on their skills, helping you find talent that’s a good match.
                </p>
            </div>

            <div class="steps-three">
                <img class="steps-img" src="http://www.clker.com/cliparts/9/3/h/S/g/Y/number-3-in-circle-hi.png" alt="" />
                <h3 class="steps-name">
                    We send you a shortlist of likely candidates
                </h3>
                <p class="steps-description">
                    You can also search our site for talent, and freelancers can view your job and submit proposals too.
                </p>
            </div>

        </div><!-- /.steps-timeline -->

    </section>
</div>

