@{
    ViewBag.Title = "Home Page";
}


<div class="homepage">

    <section class="body">
        <h1> <b style="color:dimgrey">Welcome to Code Place</b></h1>
    </section>
    <div class="container">
        <div class="esquerda col-md-6">
            <figure class="snip0069 green">

                    <div class="image"><img src="http://downloadicons.net/sites/default/files/developer-icon-17862.png" alt="sample47" id="centro" /></div>
                <figcaption>
                    <h3>Look for Programmers</h3>
                    @*<p>Pesquise os CV disponíveis e encontre os profissionais com as competências que procura.</p>*@
                </figcaption><a href="/SearchProgrammer/SearchProgrammer"></a>
</figure>
        </div>

        <div class="direita col-md-6">
            <figure class="snip0069 blue">
                <div class="image"><img src="http://www.best2train.co.uk/wp-content/uploads/jobs-icon.png" alt="sample47" id="centro" /></div>
                <figcaption>
                    <h3>Look for offers</h3>
                    @*<p>Procure a oferta de emprego mais adequada ao seu perfil.</p>*@
                </figcaption><a href="/SearchOffers/SearchOffers"></a>
            </figure>
        </div>
    </div>
</div>
