/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);*/


.layout footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 20px;
    /* just for demo */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}


.homepage figure.snip0069 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin-left: 225px;
    min-width: 320px;
    max-width: 410px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

    .homepage figure.snip0069 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
    }

    .homepage figure.snip0069 > .image {
        display: block;
        position: relative;
        padding: 15px 0;
        text-align: center;
    }

        .homepage figure.snip0069 > .image img {
            width: 70%;
            border-radius: 50%;
            text-align: center;
        }

        .homepage figure.snip0069 > .image:before {
            position: absolute;
            bottom: 0;
            content: '';
            background: #ffffff;
            width: 100%;
            top: 50%;
            left: 0;
            right: 0;
            z-index: -1;
            text-align: center;
        }

    .homepage figure.snip0069 figcaption {
        position: relative;
        background: #ffffff;
        text-align: center;
    }

        .homepage figure.snip0069 figcaption:before {
            position: absolute;
            width: 100%;
            background: #000000;
            height: 0px;
            bottom: 0;
            display: block;
            content: '';
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            text-align: center;
        }

    .homepage figure.snip0069 h3,
    .homepage figure.snip0069 p {
        margin: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .homepage figure.snip0069 h3 {
        padding: 10px 15px;
        background: #333333;
        text-transform: uppercase;
        text-align: center;
    }

    .homepage figure.snip0069 p {
        font-size: 0.9em;
        font-weight: 500;
        background: #ffffff;
        color: #4d4d4d;
        padding: 20px 40px 30px;
        text-align: center;
    }

    .homepage figure.snip0069 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        color: #ffffff;
        text-align: center;
    }

    .homepage figure.snip0069.blue h3,
    .homepage figure.snip0069.blue figcaption:before {
        background: #2980b9;
    }

    .homepage figure.snip0069.red h3,
    .homepage figure.snip0069.red figcaption:before {
        background: #9ACD32;
    }

    .homepage figure.snip0069.yellow h3,
    .homepage figure.snip0069.yellow figcaption:before {
        background: #e67e22;
    }

    .homepage figure.snip0069.navy h3,
    .homepage figure.snip0069.navy figcaption:before {
        background: #34495e;
    }

    .homepage figure.snip0069:hover figcaption:before,
    .homepage figure.snip0069.hover figcaption:before {
        height: 10px;
    }


.homepage {
    background-color: white;
    color: black;
    text-align: center;
}

.homepage a {
    text-decoration: none;
}


.homepage {
    margin-top: 100px;
}

.homepage h1, h2 {
    text-align: center;
    margin: 0px 0px 80px 0px;
    font-size: 21px;
}

.homepage h2 {
    font-weight: 400;
}

.homepage p {
    text-align: center;
}


/* NAV BAR LOGIN */

.layout form {
    position: absolute;
    right: 0;
    top: 0;
}



.layout .nav .navbar-nav .navbar-right {
    height: 28px;
    width: 50px;
    background-color: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 5px;
    font-size: .9em;
    color: #f9fefd;
}

    .layout .nav .navbar-nav .navbar-right:hover,
    .layout .nav .navbar-nav .navbar-righ:focus {
        cursor: pointer;
        background-color: #10715e;
        outline: none;
    }

/* MAIN NAV BAR */

.layout header {
    top: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.layout #logo {
    width: auto;
    height: 150px;
    display: inline-block;
}

.layout nav div {
    margin: 0 5px 0 5px;
    position: relative;
}

.layout nav ul,
.layout form {
    display: inline-block;
    margin-top: 22px;
    margin-left: -20px;
}

    .layout nav ul li {
        display: inline-block;
        margin-right: 15px;
    }

.layout nav li a#active-page {
    border-bottom: 3px solid #27ae60;
}

/* nav bar link styles */
.layout nav li a:hover,
.layout nav li a:active {
    border-bottom: 3px solid #27ae60;
}

.layout nav li a:link,
.layout nav li a:visited {
    color: #2c3e50;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.4s;
}

.layout nav li a:hover,
.layout nav li a:active {
    border-bottom: 3px solid #27ae60;
}

.layout #loginLink {
    background-color: #4caf50;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
}

.layout #registerLink {
    background-color: #20a2d6;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
} 

/*filipe css*/
.searchProgrammer {
    padding: 50px 20px 300px 150px;
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: white;
    /*padding-left: 150px;
    padding-right: 150px;*/
}

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .searchProgrammer .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    .searchProgrammer input,
    .searchProgrammer select,
    .searchProgrammer textarea {
        max-width: 280px;
    }

    .searchProgrammer img {
        width: 100px;
        height: 100px;
    }

    .searchProgrammer.types {
        margin: 10px;
    }


    /* Pesquisa por porgramador- Ofertas de trabalho*/

    .searchProgrammer .language {
        border: 5px solid grey;
        text-align: center;
        background-color: floralwhite
    }

    .searchProgrammer .types {
        text-align: center;
    }

    .searchProgrammer .field {
        border: 5px solid grey;
        text-align: center;
    }

    .searchProgrammer .distritos {
        text-align: center;
    }


    .searchProgrammer .range-container {
        text-align: center;
    }


    .searchProgrammer .submit {
        border: 2px solid grey;
        text-align: center;
    }

    .searchProgrammer .send {
        text-align: center;
    }

    .searchProgrammer h1 {
        font-family: Verdana;
        color: black;
    }








*,
*::before,
*::after {
    box-sizing: border-box;
}

.profileuser .icon--vimeo::before {
    content: "";
}

.profileuser .social__icon--vimeo {
    background-color: #4dbfe3;
}

    .profileuser .social__icon--vimeo:hover {
        background-color: #41a2c1;
    }

.profileuser .icon--twitter::before {
    content: "";
}

.social__icon--twitter {
    background-color: #32b9e7;
}

.profileuser .social__icon--twitter:hover {
    background-color: #2b9dc4;
}

.profileuser .icon--facebook::before {
    content: "";
}

.profileuser .social__icon--facebook {
    background-color: #4b70ab;
}

    .profileuser .social__icon--facebook:hover {
        background-color: #405f91;
    }

.profileuser .icon--googleplus::before {
    content: "";
}

.profileuser .social__icon--googleplus {
    background-color: #fa5432;
}

    .profileuser .social__icon--googleplus:hover {
        background-color: #d5472b;
    }

.profileuser .icon--pintrest::before {
    content: "";
}

.profileuser .social__icon--pintrest {
    background-color: #d63533;
}

    .profileuser .social__icon--pintrest:hover {
        background-color: #b62d2b;
    }

.profileuser .icon--linkedin::before {
    content: "";
}

.profileuser .social__icon--linkedin {
    background-color: #0087be;
}

    .profileuser .social__icon--linkedin:hover {
        background-color: #0073a2;
    }

.profileuser .icon--dribble::before {
    content: "";
}

.profileuser .social__icon--dribble {
    background-color: #fc89b1;
}

    .profileuser .social__icon--dribble:hover {
        background-color: #d67496;
    }

.profileuser .icon--stumbleupon::before {
    content: "";
}

.profileuser .social__icon--stumbleupon {
    background-color: #f15d29;
}

    .profileuser .social__icon--stumbleupon:hover {
        background-color: #cd4f23;
    }

.profileuser .icon--lastfm::before {
    content: "";
}

.profileuser .social__icon--lastfm {
    background-color: #e42124;
}

    .profileuser .social__icon--lastfm:hover {
        background-color: #c21c1f;
    }

.profileuser .icon--instagram::before {
    content: "";
}

.profileuser .social__icon--instagram {
    background-color: #6291b2;
}

    .profileuser .social__icon--instagram:hover {
        background-color: #537b97;
    }

.profileuser .icon--dropbox::before {
    content: "";
}

.profileuser .social__icon--dropbox {
    background-color: #167ab6;
}

    .profileuser .social__icon--dropbox:hover {
        background-color: #13689b;
    }

.profileuser .icon--soundcloud::before {
    content: "";
}

.profileuser .social__icon--soundcloud {
    background-color: #fb740b;
}

    .profileuser .social__icon--soundcloud:hover {
        background-color: #d56309;
    }

.profileuser .icon--behance::before {
    content: "";
}

.profileuser .social__icon--behance {
    background-color: #33abdb;
}

    .profileuser .social__icon--behance:hover {
        background-color: #2b91ba;
    }

.profileuser .icon--skype::before {
    content: "";
}

.profileuser .social__icon--skype {
    background-color: #00AFF0;
}

    .profileuser .social__icon--skype:hover {
        background-color: #0095cc;
    }

.profileuser .icon--github::before {
    content: "";
}

.profileuser .social__icon--github {
    background-color: #333333;
}

    .profileuser .social__icon--github:hover {
        background-color: #2b2b2b;
    }

.profileuser .icon--flickr::before {
    content: "";
}

.profileuser .social__icon--flickr {
    background-color: #333333;
}

    .profileuser .social__icon--flickr:hover {
        background-color: #2b2b2b;
    }

.profileuser .icon--rss::before {
    content: "";
}

.profileuser .social__icon--rss {
    background-color: #FB7629;
}

    .profileuser .social__icon--rss:hover {
        background-color: #d56423;
    }

.profileuser .social__item {
    display: inline-block;
    margin-right: 0.1em;
}

.profileuser .icon, [class^="icon--"] {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profileuser .social__icon, [class^="social__icon"] {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    border-radius: 100%;
    width: 2.2em;
    height: 2.2em;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profileuser .social__container {
    padding: 1em;
    font-size: 1.5em;
}

.profileuser .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


.profileuser .button2 {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


.profileuser .profile-avatar .thumbnail a {
    display: block;
    position: relative;
}

    .profileuser .profile-avatar .thumbnail a:before,
    .profileuser .profile-avatar .thumbnail a:after {
        opacity: 0;
        content: "";
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

    .profileuser .profile-avatar .thumbnail a:hover:before,
    .profileuser .profile-avatar .thumbnail a:hover:after {
        opacity: 1;
    }

    .profileuser .profile-avatar .thumbnail a:hover:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.2);
    }

    .profileuser .profile-avatar .thumbnail a:hover:after {
        content: "\f03e";
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border: 3px dashed #fff;
        border-radius: 6px;
        font: normal normal normal 30px/1 FontAwesome;
        color: #fff;
    }

.profileuser .profile-avatar {
    width: 135px;
}

.profileuser .profile-data {
    width: calc(100% - 150px);
    margin-left: 15px;
}

    .profileuser .profile-data .name {
        margin-bottom: 15px;
    }

        .profileuser .profile-data .name .lead {
            margin-bottom: 0;
        }

    .profileuser .profile-data ul {
        padding-left: 10px;
    }

        .profileuser .profile-data ul li strong {
            display: inline-block;
            width: 90px;
        }

.profileuser .user-files li {
    margin-left: -3px;
    width: 12.5%;
}

    .profileuser .user-files li i {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        /*display: block;*/
        padding: 15px 0;
        border-bottom: 1px solid #eee;
    }

    .profileuser .user-files li small {
        display: inline-block;
        width: 100%;
        margin-top: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.profileuser #crop-target-image {
    max-width: 400px;
}






