/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);*/

.register img {
    height: auto;
    width: auto;
    max-width: 70%;
    max-height: 70%;
}
.layout footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 20px;
    /* just for demo */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}



.homepage figure.snip0069 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin-left: 10px;
    min-width: 320px;
    max-width: 410px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

    .homepage figure.snip0069 * {
        /*-webkit-box-sizing: border-box;*/
        box-sizing: border-box;
        text-align: center;
    }

    .homepage figure.snip0069 > .image {
        display: block;
        position: relative;
        padding: 15px 0;
        text-align: center;
    }

        .homepage figure.snip0069 > .image img {
            width: 70%;
            border-radius: 50%;
            text-align: center;
        }

        .homepage figure.snip0069 > .image:before {
            position: absolute;
            bottom: 0;
            content: '';
            background: #ffffff;
            width: 100%;
            top: 50%;
            left: 0;
            right: 0;
            z-index: -1;
            text-align: center;
        }

    .homepage figure.snip0069 figcaption {
        position: relative;
        background: #ffffff;
        text-align: center;
    }

        .homepage figure.snip0069 figcaption:before {
            position: absolute;
            width: 100%;
            background: #000000;
            height: 0px;
            bottom: 0;
            display: block;
            content: '';
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            text-align: center;
        }

    .homepage figure.snip0069 h3,
    .homepage figure.snip0069 p {
        margin: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .homepage figure.snip0069 h3 {
        padding: 10px 15px;
        background: #333333;
        text-transform: uppercase;
        text-align: center;
    }

    .homepage figure.snip0069 p {
        font-size: 0.9em;
        font-weight: 500;
        background: #ffffff;
        color: #4d4d4d;
        padding: 20px 40px 30px;
        text-align: center;
    }

    .homepage figure.snip0069 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        color: #ffffff;
        text-align: center;
    }

    .homepage figure.snip0069.blue h3,
    .homepage figure.snip0069.blue figcaption:before {
        background: #008B8B;
    }

    .homepage figure.snip0069.red h3,
    .homepage figure.snip0069.red figcaption:before {
        background: #FF6347;
    }

    .homepage figure.snip0069.yellow h3,
    .homepage figure.snip0069.yellow figcaption:before {
        background: #e67e22;
    }

    .homepage figure.snip0069.navy h3,
    .homepage figure.snip0069.navy figcaption:before {
        background: #34495e;
    }

    .homepage figure.snip0069:hover figcaption:before,
    .homepage figure.snip0069.hover figcaption:before {
        height: 10px;
    }


.homepage {
    background-color: white;
    color: black;
    text-align: center;
}

.homepage a {
    text-decoration: none;
}


.homepage {
    margin-top: 100px;
}

.homepage h1, h2 {
    text-align: center;
    margin: 0 0 80px 0;
    font-size: 40px;
    color:gray;
}

.homepage h2 {
    font-weight: 400;
}

.homepage p {
    text-align: center;
}


/* NAV BAR LOGIN */

.layout form {
    position: absolute;
    right: 0;
    top: 0;
}



.layout .nav .navbar-nav .navbar-right {
    height: 28px;
    width: 50px;
    background-color: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 5px;
    font-size: .9em;
    color: #f9fefd;
}

    .layout .nav .navbar-nav .navbar-right:hover,
    .layout .nav .navbar-nav .navbar-righ:focus {
        cursor: pointer;
        background-color: #10715e;
        outline: none;
    }

/* MAIN NAV BAR */

.layout header {
    top: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.layout #logo {
    width: auto;
    height: 150px;
    display: inline-block;
}

.layout nav div {
    margin: 0 5px 0 5px;
    position: relative;
}

.layout nav ul,
.layout form {
    display: inline-block;
    margin-top: 22px;
    margin-left: -20px;
}

    .layout nav ul li {
        display: inline-block;
        margin-right: 15px;
    }

.layout nav li a#active-page {
    border-bottom: 3px solid #27ae60;
}

/* nav bar link styles */
.layout nav li a:hover,
.layout nav li a:active {
    border-bottom: 3px solid #27ae60;
}

.layout nav li a:link,
.layout nav li a:visited {
    color: #2c3e50;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.4s;
}

.layout nav li a:hover,
.layout nav li a:active {
    border-bottom: 3px solid #27ae60;
}

.layout #loginLink {
    background-color: #4caf50;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
}

.layout #registerLink {
    background-color: #20a2d6;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
} 

/*filipe css*/
.searchProgrammer {
    padding: 50px 20px 300px 150px;
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: white;
    /*padding-left: 150px;
    padding-right: 150px;*/
    text-align: center;
    position: center;
    align-content: center;
}



    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .searchProgrammer .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    .searchProgrammer input,
    .searchProgrammer select,
    .searchProgrammer textarea {
        max-width: 280px;
    }

    .searchProgrammer img {
        width: 100px;
        height: 100px;
    }

    .searchProgrammer.types {
        margin: 10px;
    }


    /* Pesquisa por porgramador- Ofertas de trabalho*/

    .searchProgrammer .language {
        border: 5px solid grey;
        text-align: center;
        background-color: floralwhite
    }

    .searchProgrammer .types {
        text-align: center;
    }

    .searchProgrammer .field {
        border: 5px solid grey;
        text-align: center;
    }

    .searchProgrammer .distritos {
        text-align: center;
    }


    .searchProgrammer .range-container {
        text-align: center;
    }


    .searchProgrammer .submit {
        border: 2px solid grey;
        text-align: center;
    }

    .searchProgrammer .send {
        text-align: center;
    }

    .searchProgrammer h1 {
        font-family: Verdana;
        color: black;
    }
    .table {
        margin-left: 30px;
    }
        








*,
*::before,
*::after {
    box-sizing: border-box;
}

.profileuser .icon--vimeo::before {
    content: "";
}

.profileuser .social__icon--vimeo {
    background-color: #4dbfe3;
}

    .profileuser .social__icon--vimeo:hover {
        background-color: #41a2c1;
    }

.profileuser .icon--twitter::before {
    content: "";
}

.social__icon--twitter {
    background-color: #32b9e7;
}

.profileuser .social__icon--twitter:hover {
    background-color: #2b9dc4;
}

.profileuser .icon--facebook::before {
    content: "";
}

.profileuser .social__icon--facebook {
    background-color: #4b70ab;
}

    .profileuser .social__icon--facebook:hover {
        background-color: #405f91;
    }

.profileuser .icon--googleplus::before {
    content: "";
}

.profileuser .social__icon--googleplus {
    background-color: #fa5432;
}

    .profileuser .social__icon--googleplus:hover {
        background-color: #d5472b;
    }

.profileuser .icon--pintrest::before {
    content: "";
}

.profileuser .social__icon--pintrest {
    background-color: #d63533;
}

    .profileuser .social__icon--pintrest:hover {
        background-color: #b62d2b;
    }

.profileuser .icon--linkedin::before {
    content: "";
}

.profileuser .social__icon--linkedin {
    background-color: #0087be;
}

    .profileuser .social__icon--linkedin:hover {
        background-color: #0073a2;
    }

.profileuser .icon--dribble::before {
    content: "";
}

.profileuser .social__icon--dribble {
    background-color: #fc89b1;
}

    .profileuser .social__icon--dribble:hover {
        background-color: #d67496;
    }

.profileuser .icon--stumbleupon::before {
    content: "";
}

.profileuser .social__icon--stumbleupon {
    background-color: #f15d29;
}

    .profileuser .social__icon--stumbleupon:hover {
        background-color: #cd4f23;
    }

.profileuser .icon--lastfm::before {
    content: "";
}

.profileuser .social__icon--lastfm {
    background-color: #e42124;
}

    .profileuser .social__icon--lastfm:hover {
        background-color: #c21c1f;
    }

.profileuser .icon--instagram::before {
    content: "";
}

.profileuser .social__icon--instagram {
    background-color: #6291b2;
}

    .profileuser .social__icon--instagram:hover {
        background-color: #537b97;
    }

.profileuser .icon--dropbox::before {
    content: "";
}

.profileuser .social__icon--dropbox {
    background-color: #167ab6;
}

    .profileuser .social__icon--dropbox:hover {
        background-color: #13689b;
    }

.profileuser .icon--soundcloud::before {
    content: "";
}

.profileuser .social__icon--soundcloud {
    background-color: #fb740b;
}

    .profileuser .social__icon--soundcloud:hover {
        background-color: #d56309;
    }

.profileuser .icon--behance::before {
    content: "";
}

.profileuser .social__icon--behance {
    background-color: #33abdb;
}

    .profileuser .social__icon--behance:hover {
        background-color: #2b91ba;
    }

.profileuser .icon--skype::before {
    content: "";
}

.profileuser .social__icon--skype {
    background-color: #00AFF0;
}

    .profileuser .social__icon--skype:hover {
        background-color: #0095cc;
    }

.profileuser .icon--github::before {
    content: "";
}

.profileuser .social__icon--github {
    background-color: #333333;
}

    .profileuser .social__icon--github:hover {
        background-color: #2b2b2b;
    }

.profileuser .icon--flickr::before {
    content: "";
}

.profileuser .social__icon--flickr {
    background-color: #333333;
}

    .profileuser .social__icon--flickr:hover {
        background-color: #2b2b2b;
    }

.profileuser .icon--rss::before {
    content: "";
}

.profileuser .social__icon--rss {
    background-color: #FB7629;
}

    .profileuser .social__icon--rss:hover {
        background-color: #d56423;
    }

.profileuser .social__item {
    display: inline-block;
    margin-right: 0.1em;
}

.profileuser .icon, [class^="icon--"] {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.profileuser .social__icon, [class^="social__icon"] {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    border-radius: 100%;
    width: 2.2em;
    height: 2.2em;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profileuser .social__container {
    padding: 1em;
    font-size: 1.5em;
}

.profileuser .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


.profileuser .button2 {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


.profileuser .profile-avatar .thumbnail a {
    display: block;
    position: relative;
}

    .profileuser .profile-avatar .thumbnail a:before,
    .profileuser .profile-avatar .thumbnail a:after {
        opacity: 0;
        content: "";
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

    .profileuser .profile-avatar .thumbnail a:hover:before,
    .profileuser .profile-avatar .thumbnail a:hover:after {
        opacity: 1;
    }

    .profileuser .profile-avatar .thumbnail a:hover:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.2);
    }

    .profileuser .profile-avatar .thumbnail a:hover:after {
        content: "\f03e";
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border: 3px dashed #fff;
        border-radius: 6px;
        font: normal normal normal 30px/1 FontAwesome;
        color: #fff;
    }

.profileuser .profile-avatar {
    width: 135px;
}

.profileuser .profile-data {
    width: calc(100% - 150px);
    margin-left: 15px;
}

    .profileuser .profile-data .name {
        margin-bottom: 15px;
    }

        .profileuser .profile-data .name .lead {
            margin-bottom: 0;
        }

    .profileuser .profile-data ul {
        padding-left: 10px;
    }

        .profileuser .profile-data ul li strong {
            display: inline-block;
            /*width: 90px;*/
        }

.profileuser .user-files li {
    margin-left: -3px;
    width: 12.5%;
}

    .profileuser .user-files li i {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        /*display: block;*/
        padding: 15px 0;
        border-bottom: 1px solid #eee;
    }

    .profileuser .user-files li small {
        display: inline-block;
        width: 100%;
        margin-top: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.profileuser #crop-target-image {
    max-width: 400px;
}

.textbox {
    width:300px;
}

/*howItWorks*/


.howItWorks img,
.howItWorks iframe,
.howItWorks video {
    max-width: 100%;
    width: 100%;
    /*vertical-align: middle;*/
    border: 0;
    display: block;
    margin: 0 auto;
}

.howItWorks ol,
.howItWorks ul,
.howItWorks dl {
    margin: 0;
    padding: 0;
}

.howItWorks li {
    list-style-type: none;
}

/* ---- Link ---- */
.howItWorks a {
    text-decoration: none;
}

    .howItWorks a:active,
    .howItWorks a:hover,
    .howItWorks a:focus {
        outline: 0;
        text-decoration: none;
    }

    .howItWorks a:link {
        -webkit-tap-highlight-color: #000;
    }

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.howItWorks process__list,
.howItWorks process__item,
.howItWorks item__inner {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.howItWorks {
    max-width: 1270px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

    .howItWorks process__list {
        width: 95%;
    }

    .howItWorks process {
        background: #f0f0f0;
        overflow: hidden;
        padding: 20px;
        width: 1500px;
    }

    .howItWorks process__title {
        text-transform: uppercase;
        color: #049bf7;
        font-family: "Roboto", sans-serif;
    }

.howItWorks process__title span {
    color: #333;
}

    .howItWorks process__item_blue {
        background: #72d4df;
    }

    .howItWorks process__item_yellow {
        background: #ffcd64;
    }

    .howItWorks process__item_orange {
        background: #fd912c;
    }

    .howItWorks process__item_pink {
        background: #e34856;
    }

    .howItWorks process__item_green {
        background: #b5de39;
    }

    .howItWorks item__content {
        font-size: 10px;
        display: inline-block;
        vertical-align: middle;
    }

    .howItWorks process__item svg {
        fill: #fff;
    }

    .howItWorks step {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        right: -30px;
        z-index: 15;
    }

    .howItWorks item__icon {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        position: absolute;
        top: 50%;
        z-index: 15;
        left: 55px;
        margin-top: -10px;
    }

    .howItWorks process__item {
        cursor: pointer;
        color: #fff;
        width: 19.8%;
        font-family: "Roboto", sans-serif;
        -webkit-transition: all 0.52s ease-in-out;
        -o-transition: all 0.52s ease-in-out;
        transition: all 0.52s ease-in-out;
    }

    .howItWorks item__inner {
        position: relative;
        padding: 5px 35px 5px 90px;
        height: 120px;
    }

        .howItWorks item__inner:after {
            content: "";
            display: block;
            border-top: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 50px solid #72d4df;
            position: absolute;
            right: -49.5px;
            z-index: 13;
            top: 0;
        }

    .howItWorks process__item_blue .item__inner:after {
        border-left: 50px solid #72d4df;
    }

    .howItWorks process__item_yellow .item__inner:after {
        border-left: 50px solid #ffcd64;
    }

    .howItWorks process__item_orange .item__inner:after {
        border-left: 50px solid #fd912c;
    }

    .howItWorks process__item_pink .item__inner:after {
        border-left: 50px solid #e34856;
    }

    .howItWorks process__item_green .item__inner:after {
        border-left: 50px solid #b5de39;
    }

    .howItWorks item__inner:before {
        content: "";
        display: block;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 50px solid #f0f0f0;
        position: absolute;
        left: -1px;
        z-index: 10;
        top: 0;
    }

.Contactos {
    position: center;
    align-content: center;
    text-align: center;

}

        .Contactos h4 {
            margin-left: 50px;
        }
/*how it works css*/




.howitworks h2 {
    font-size: 45px;
    color: dimgrey;
}

.howitworks .steps-name {
    font-size: 22px;
    color: black;
}

.howitworks html {
    box-sizing: border-box;
}



.howitworks body {
    font-family: lato;
}

.howitworks .section-header, .steps-header, .steps-name {
    color: #3498DB;
    font-weight: 400;
    font-size: 1.4em;
}

.howitworks .steps-header {
    margin-bottom: 20px;
    text-align: center;
}

.howitworks .steps-timeline {
    outline: 1px dashed rgba(255, 0, 0, 0);
}

@media screen and (max-width: 500px) {
    .howitworks .steps-timeline {
        border-left: 2px solid #3498DB;
        margin-left: 25px;
    }
}

@media screen and (min-width: 500px) {
    .howitworks .steps-timeline {
        border-top: 2px solid #3498DB;
        padding-top: 20px;
        margin-top: 40px;
        margin-left: 16.65%;
        margin-right: 16.65%;
    }
}

.howitworks .steps-timeline:after {
    content: "";
    display: table;
    clear: both;
}

.howitworks .steps-one,
.steps-two,
.steps-three {
    outline: 1px dashed rgba(0, 128, 0, 0);
}

@media screen and (max-width: 500px) {
    .howitworks .steps-one,
    .steps-two,
    .steps-three {
        margin-left: -25px;
    }
}

@media screen and (min-width: 500px) {
    .howitworks .steps-one,
    .steps-two,
    .steps-three {
        float: left;
        width: 33%;
        margin-top: -50px;
    }
}

@media screen and (max-width: 500px) {
    .howitworks .steps-one,
    .steps-two {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 500px) {
    .howitworks .steps-one {
        margin-left: -16.65%;
        margin-right: 16.65%;
    }
}

@media screen and (max-width: 500px) {
    .howitworks .steps-three {
        margin-bottom: -100%;
    }
}

@media screen and (min-width: 500px) {
    .howitworks .steps-three {
        margin-left: 16.65%;
        margin-right: -16.65%;
    }
}

.howitworks .steps-img {
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .howitworks .steps-img {
        float: left;
        margin-right: 20px;
    }
}

.howitworks .steps-name,
.steps-description {
    margin: 0;
}

@media screen and (min-width: 500px) {
    .howitworks .steps-name {
        text-align: center;
    }
}

.howitworks .steps-description {
    overflow: hidden;
}

@media screen and (min-width: 500px) {
    .howitworks .steps-description {
        text-align: center;
    }
}

/*Marta Medonça*/
.about body {
    background: #f9f9f9;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.about a {
    color: inherit;
    text-decoration: none;
}

.about h2 {
    color: #c55;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.about {
    background: url(https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/22406081_10212750249743926_7926476743005235369_n.jpg?oh=e20c034702737c90350c3b6be0d3c5a1&oe=5A870DFD);
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 25px;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

    .about:hover .overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .about:hover span {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform 0.5s ease, opacity 1.3s ease;
        transition: transform 0.5s ease, opacity 1.3s ease;
    }

    .about .overlay {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        margin: auto;
        width: 0px;
        height: 0px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }

    .about span {
        color: #fff;
        text-align: center;
        position: absolute;
        margin: auto;
        width: 200px;
        height: 30px;
        line-height: 30px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: transform 0.5s ease, opacity 0.7s ease;
        transition: transform 0.5s ease, opacity 0.7s ease;
    }


/*Ana Sofia Travessa*/
.about1 body {
    background: #f9f9f9;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.about1 a {
    color: inherit;
    text-decoration: none;
}

.about1 h2 {
    color: #c55;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.about1 {
    background: url(https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/22539840_10212746129600925_6370421989361373484_n.jpg?oh=f18acbd5e616eff84e26faaec470b48f&oe=5A731657);
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 25px;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

    .about1:hover .overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .about1:hover span {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform 0.5s ease, opacity 1.3s ease;
        transition: transform 0.5s ease, opacity 1.3s ease;
    }

    .about1 .overlay {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        margin: auto;
        width: 0px;
        height: 0px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }

    .about1 span {
        color: #fff;
        text-align: center;
        position: absolute;
        margin: auto;
        width: 200px;
        height: 30px;
        line-height: 30px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: transform 0.5s ease, opacity 0.7s ease;
        transition: transform 0.5s ease, opacity 0.7s ease;
    }


/*Daniel Pereira*/

.about2 body {
    background: #f9f9f9;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.about2 a {
    color: inherit;
    text-decoration: none;
}

.about2 h2 {
    color: #c55;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.about2 {
    background: url(https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/22406073_10212746173842031_3012386868009438178_n.jpg?oh=cec90b8ce83e135ca8db337a5d7cbf81&oe=5A79ABFE);
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 25px;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

    .about2:hover .overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .about2:hover span {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform 0.5s ease, opacity 1.3s ease;
        transition: transform 0.5s ease, opacity 1.3s ease;
    }

    .about2 .overlay {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        margin: auto;
        width: 0px;
        height: 0px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }

    .about2 span {
        color: #fff;
        text-align: center;
        position: absolute;
        margin: auto;
        width: 200px;
        height: 30px;
        line-height: 30px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: transform 0.5s ease, opacity 0.7s ease;
        transition: transform 0.5s ease, opacity 0.7s ease;
    }

/*Duarte Lucas*/

.about3 body {
    background: #f9f9f9;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.about3 a {
    color: inherit;
    text-decoration: none;
}

.about3 h2 {
    color: #c55;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.about3 {
    background: url(https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/16142393_1170130779722577_337014712947181572_n.jpg?oh=a01fc9185f68ac7d39de3fa795a9b2a8&oe=5A419A0C);
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 25px;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

    .about3:hover .overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .about3:hover span {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform 0.5s ease, opacity 1.3s ease;
        transition: transform 0.5s ease, opacity 1.3s ease;
    }

    .about3 .overlay {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        margin: auto;
        width: 0px;
        height: 0px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }

    .about3 span {
        color: #fff;
        text-align: center;
        position: absolute;
        margin: auto;
        width: 200px;
        height: 30px;
        line-height: 30px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: transform 0.5s ease, opacity 0.7s ease;
        transition: transform 0.5s ease, opacity 0.7s ease;
    }


/*Filipe Manteigas*/

.about4 body {
    background: #f9f9f9;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.about4 a {
    color: inherit;
    text-decoration: none;
}

.about4 h2 {
    color: #c55;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.about4 {
    background: url(https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/22519328_10212746224723303_4122945115506598464_n.jpg?oh=a05159cbbd5afee1d848d6608fc44198&oe=5A39E696);
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 25px;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

    .about4:hover .overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .about4:hover span {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform 0.5s ease, opacity 1.3s ease;
        transition: transform 0.5s ease, opacity 1.3s ease;
    }

    .about4 .overlay {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        margin: auto;
        width: 0px;
        height: 0px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }

    .about4 span {
        color: #fff;
        text-align: center;
        position: absolute;
        margin: auto;
        width: 200px;
        height: 30px;
        line-height: 30px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: transform 0.5s ease, opacity 0.7s ease;
        transition: transform 0.5s ease, opacity 0.7s ease;
    }
.hiw1 h1 {
    position: left;
    margin-left: 230px;
    color: #b3b3b3;
    font-weight: bold;
}

.hiw2 h1 {
    position: right;
    margin-left: 900px;
    color: #33ccff;
    font-weight: bold;
}

.steps {
    position: relative;
    margin-top: -90px;
}

    .steps:before {
        top: 125px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #33cc33;
        left: 50%;
        margin-left: -1px;
    }

.hiw .timeline {
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    padding: 0px;
    list-style-type: none;
}

    .hiw .timeline .timeline-box {
        position: relative;
        float: left;
        clear: left;
        width: 45%;
        margin: 1em 2.5%;
        list-style-type: none;
        display: block;
        padding: 25px;
        background: #f8f8f8;
        z-index: 15;
    }

    .hiw .timeline .timeline-box1 {
        position: relative;
        float: left;
        clear: left;
        width: 45%;
        margin: 1em 2.5%;
        list-style-type: none;
        display: block;
        padding: 25px;
        background: #e6faff;
        z-index: 15;
    }


    .hiw .timeline .timeline-box .timeline-title {
        color: #3c3c3c;
        font-weight: 700;
        font-size: 1em;
        float: left;
        padding-left: 25px;
        padding-top: 8px;
    }

    .hiw .timeline .timeline-box1 .timeline-title {
        color: #3c3c3c;
        font-weight: 700;
        font-size: 1em;
        float: left;
        padding-left: 25px;
        padding-top: 8px;
    }

    .hiw .timeline .timeline-box .timeline-details {
        clear: both;
        padding-top: 5px;
    }

    .hiw .timeline .timeline-box span {
        position: absolute;
        top: -15px;
        right: 24px;
        font-size: 8em;
        font-weight: 700;
        color: grey;
        opacity: 0.1;
        z-index: -1;
    }

    .hiw .timeline .timeline-box1 .timeline-details {
        clear: both;
        padding-top: 5px;
    }

    .hiw .timeline .timeline-box1 span {
        position: absolute;
        top: -15px;
        right: 24px;
        font-size: 8em;
        font-weight: 700;
        color: #66ccff;
        opacity: 0.1;
        z-index: -1;
    }

@media all and (max-width: 600px) {
    .hiw .timeline .timeline-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.hiw .timeline .timeline-box:hover:after {
    background: #33cc33;
}

@media all and (min-width: 650px) {
    .hiw .timeline .timeline-box:after {
        display: block;
        content: ' ';
        height: 9px;
        width: 9px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        right: -6.55%;
        top: 1.5em;
        border: 2px solid #33cc33;
    }
}

.hiw .timeline .timeline-box:first-child {
    margin-bottom: 2.5em;
}

.hiw .timeline .timeline-box:nth-of-type(1n):before {
    position: absolute;
    top: 15px;
    right: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-left: 10px solid #f8f8f8;
    border-right: 0 solid #f8f8f8;
    border-bottom: 10px solid transparent;
    content: " ";
}

.hiw .timeline .timeline-box:nth-of-type(2n) {
    float: right;
    clear: right;
}

    .hiw .timeline .timeline-box:nth-of-type(2n):before {
        right: auto;
        left: -10px;
        position: absolute;
        top: 15px;
        display: inline-block;
        border-top: 10px solid transparent;
        border-right: 10px solid #f8f8f8;
        border-left: 0 solid #f8f8f8;
        border-bottom: 10px solid transparent;
        content: " ";
    }

@media all and (min-width: 600px) {
    .hiw .timeline .timeline-box:nth-of-type(2n) {
        margin-top: 3em;
    }
}

.hiw .timeline .timeline-box:nth-child(2n):after {
    left: -6.5%;
    right: auto;
}

.hiw .timeline-box:hover, .timeline-box:focus {
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
}

.hiw .timeline-box:hover, .timeline-box:focus {
    -webkit-box-shadow: 0px 3px 0px 0px #33cc33;
    -moz-box-shadow: 0px 3px 0px 0px #33cc33;
    box-shadow: 0px 3px 0px 0px #33cc33;
}

.hiw .timeline-box {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

@media all and (max-width: 600px) {
    .hiw .timeline .timeline-box1 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.hiw .timeline .timeline-box1:hover:after {
    background: #33cc33;
}

@media all and (min-width: 650px) {
    .hiw .timeline .timeline-box1:after {
        display: block;
        content: ' ';
        height: 9px;
        width: 9px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        right: -6.55%;
        top: 1.5em;
        border: 2px solid #33cc33;
    }
}

.hiw .timeline .timeline-box1:first-child {
    margin-bottom: 2.5em;
}

.hiw .timeline .timeline-box1:nth-of-type(1n):before {
    position: absolute;
    top: 15px;
    right: -10px;
    display: inline-block;
    border-top: 10px solid transparent;
    border-left: 10px solid #f8f8f8;
    border-right: 0 solid #f8f8f8;
    border-bottom: 10px solid transparent;
    content: " ";
}

.hiw .timeline .timeline-box1:nth-of-type(2n) {
    float: right;
    clear: right;
}

    .hiw .timeline .timeline-box1:nth-of-type(2n):before {
        right: auto;
        left: -10px;
        position: absolute;
        top: 15px;
        display: inline-block;
        border-top: 10px solid transparent;
        border-right: 10px solid #f8f8f8;
        border-left: 0 solid #f8f8f8;
        border-bottom: 10px solid transparent;
        content: " ";
    }

@media all and (min-width: 600px) {
    .hiw .timeline .timeline-box1:nth-of-type(2n) {
        margin-top: 3em;
    }
}

.hiw .timeline .timeline-box1:nth-child(2n):after {
    left: -6.5%;
    right: auto;
}

.hiw .timeline-box1:hover, .timeline-box1:focus {
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
}

.hiw .timeline-box1:hover, .timeline-box1:focus {
    -webkit-box-shadow: 0px 3px 0px 0px #33cc33;
    -moz-box-shadow: 0px 3px 0px 0px #33cc33;
    box-shadow: 0px 3px 0px 0px #33cc33;
}

.hiw .timeline-box1 {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.steps-area {
    padding: 90px 0;
}

/*PROGRESS BAR*/
