@model IEnumerable<LoginWithAuthenticationTest.Models.Language>


@{
    ViewBag.Title = "SelectLanguages";
}

@foreach (var item in Model)
{
    <label class="types">
        <input type="radio">
        <img src=@Html.DisplayFor(modelItem => item.Image) alt="PHP">
    </label>
}