@model List<LoginWithAuthenticationTest.Models.Language>


@{
    ViewBag.Title = "SelectLanguages";
}
<div class="searchProgrammer">
    <h1>Select your skills</h1>
    <br />
        <div class="language">

            @foreach (var item in Model)
            {
                <label class="types">
                    <input type="radio">
                    <img src="@item.Image" alt="@item.Name">
                </label>
            }

        </div>
        
     <div class="send">
         @*<input class="submit" type="submit" value="Pesquisar" />*@
         @Html.ActionLink("Submit", "Index", "Home")
     </div>

</div>