
@{
    ViewBag.Title = "Register";
}

<h2>Which type of user are you?</h2>

<div class="register container">
    @*<p style="text-align:center" class="lead">Please select if you are a programmer or company.</p>*@
    <div style="text-align:center" class="row">
        <br>
        <br>
        <div class="register-left col-sm-6">
            <div class="image">
                <img src="http://blog.hackerearth.com/wp-content/uploads/2015/11/blog_dev-01-1.jpg" />
            </div>
            <p><a href="/Account/RegisterProgrammer" class="btn btn-primary btn-lg">I am a Developer</a></p>

        </div>

        <div class="register-right col-sm-6">
            <div class="image2">
                <img src="http://blog.hackerearth.com/wp-content/uploads/2016/12/Cover_descriptive-statistics_BlogImage_Final.png" />
            </div>        
            <p><a href="/Account/RegisterCompany" class="btn btn-primary btn-lg">I am a Company</a></p>
        </div>
    </div>


</div>


