
@{
    ViewBag.Title = "Register";
}

<h2>Which type of user are you?</h2>

<div class="container">
    @*<p style="text-align:center" class="lead">Please select if you are a programmer or company.</p>*@
    <div style="text-align:center" class="row">
        <br>
        <br>
        <div class="register-left col-sm-6">
            <p><a href="/Account/RegisterProgrammer" class="btn btn-primary btn-lg">I am a Programmer</a></p>
        </div>
        <div class="register-right col-sm-6">
            <p><a href="/Account/RegisterCompany" class="btn btn-primary btn-lg">I am a Company</a></p>
        </div>
    </div>


</div>


