@{
    ViewBag.Title = "SearchOffers";
}
<div class="searchProgrammer">
    @using (Html.BeginForm("ResultCompany", "Search", FormMethod.Post))
    {



        <div class="language">
            <h1>Título</h1>

            <label class="types">
                @*@Html.RadioButton("SelectedLanguage", "Php", true)*@
                <input type="radio" name="SelectedLanguage" value="Php">
                <img src="http://www.softaculous.com/blog/wp-content/uploads/2013/04/php-logo.jpeg" value="Php">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="C#">
                <img src="http://www.freeiconspng.com/uploads/c-logo-icon-18.png" alt="C#">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Java">
                <img src="http://www.fotosdigitalesgratis.com/noticias/fotos/Java-Logo.jpg" alt="java">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Javascript">
                <img src="http://www.unixstickers.com/image/cache/data/JavaScript.sh-600x600.png" alt="javascript">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Html5">
                <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="HTML5">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Css">
                <img src="http://www.codingdojo.com/blog/wp-content/uploads/css.jpg" alt="CSS">
            </label>
            <br />
            <br />

            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Rails">
                <img src="http://www.macnotes.de/images/ruby-on-rails.png" alt="Rails">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="C++">
                <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="c++">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Mysql">
                <img src="http://logodatabases.com/wp-content/uploads/2012/03/mysql.jpg" alt="mysql">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Sqlserver">
                <img src="https://hackerlists.com/wp-content/uploads/2016/08/Swift-Programming-Language-Logo.jpeg" alt="sqlserver">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Scala">
                <img src="http://www.mcclellandlegge.com/img/scala-logo.jpg" alt="Scala">
            </label>
            <label class="types">
                <input type="radio" name="SelectedLanguage" value="Node">
                <img src="https://res.cloudinary.com/teepublic/image/private/s--3dkQ0z9B--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1449653778/production/designs/367039_1.jpg" alt="node">
            </label>
        </div>

        <br />
        <br />

        @* Esoclha de localidade *@
        <div class="field">
            <div class="language">
                <br />
                <label ng-show="betterField2" class="localidade"> </label>
                <h1>Escolha a Localidade</h1>

                <br />
                <select class="localidade" ng-model="betterField2" name="SelectedLocation">
                    <option disabled>Localidade</option>
                    <option> Lisboa</option>
                    <option>Porto</option>
                    <option>Braga</option>
                    <option>Bragança</option>
                    <option>Castelo Branco</option>
                    <option>Coimbra</option>
                    <option>Évora</option>
                    <option>Faro</option>
                    <option>Guarda</option>
                    <option>Leiria</option>
                    <option>Aveiro</option>
                    <option>Coimbra</option>
                    <option>Portalegre</option>
                    <option>Beja</option>
                    <option>Santarém</option>
                    <option>Setúbal</option>
                    <option>Viana do Castelo</option>
                    <option>Vila Real</option>
                    <option>Viseu</option>
                </select>
                <br />
            </div>
        </div>
        <br />

        @* Barra de Experiencia *@
        <div class="language">
            <h1>Hourly Rate</h1>

            <div class="range-container" id="range-c1">
                <input type="range" id="range-1"
                       min="0" max="30" step="1" value="0"
                       onInput="rangeHelper(this, document.getElementById('range-c1'), document.getElementById('range-b1'));">
                <div id="range-b1"></div>
            </div>
        </div>
        <br />
        <br />
        @* Bloco de envio *@
        <div class="language">
            <div class="send">
                <input class="reset" type="reset" value="Limpar pesquisa" />
                <input class="submit" type="submit" value="Pesquisar" />
            </div>
        </div>
    }
</div>